*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tahoma';
    overflow-x: hidden;
    /* background-color: rgb(170, 250, 246); */
}
.festus{
    /* width: 100px;
    height: 50px; */
    background: rgb(145, 5, 5);
}
h2{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
}
h2:hover{
    color: rgb(197, 240, 7);
}
.container{
    width: 100%;
    height: 100vh;
    background-color: rgb(170, 250, 246);
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    background: #3a4452;
    padding: 20px;
    border-radius: 10px;
}
.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
    background: transparent;
    font-size: 20px;
    color: white;
    cursor: pointer;
    margin: 10px;
}
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}
form input.equalto{
    width: 145px;
    background: #162130;
}